/* GridBlock.css */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(2, auto); /* Adjust rows automatically */
  gap: 20px; /* Space between grid items */
  padding: 20px;
  background-color: var(--second-navigation-bg-color);
}

.grid-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: var(--second-navigation-bg-color);
}
.grid-item_text {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
@media (max-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
  }
}

.grid-item_icon {
  display: flex;
  justify-content: start;
  height: 100%;
  font-size: 40px;
}

.main-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 16px;
  color: #666;
}
