.admin-menu {
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-top: 20px;
  height: 100%;
}

.admin-menuu-button {
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
}
.admin-button-text {
  margin-left: 15px;
  font-size: 1.2rem;
}
.admin-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.menu-name {
  color: grey;
}

.admin-menuu-button:hover {
  transform: scale(1.05); /* Slight scaling effect when hovering */
}
