/* Header.css */
:root {
  --header-color: #7879f1;
  --header-bg-color: white;
}

.header {
  font-family: "Single Line Body Base", Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  height: 90px;
  background-color: var(--header-bg-color);
  color: var(--header-color);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  margin-left: 50px;

  flex: 1; /* Pushes logo to the left */
}
.logo img {
  max-width: 60px;
  max-height: 65px;
}

.nav {
  display: flex;
  gap: 25px;
  flex: 2; /* Allows nav to center */
  justify-content: center; /* Centers nav links */
}

.nav-link {
  color: var(--header-color);
  text-decoration-color: transparent; /* Hides the default line */
  box-shadow: 0px 0px 0px currentColor, 0px 1px 0px currentColor;
  font-size: 16px;
}

.nav-link:hover {
  color: var(--header-color);
  text-decoration: line-through;
  text-decoration-color: transparent; /* Hides the default line */
  box-shadow: 0px 0px 0px currentColor, 0px 2px 0px currentColor;
  font-size: 16px;
}

.nav-link.active {
  color: var(--header-color);
  text-decoration: line-through;
  text-decoration-color: transparent; /* Hides the default line */
  box-shadow: 0px 0px 0px currentColor, 0px 3px 0px currentColor;
  font-size: 16px;
}
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: var(--header-color);
  font-size: 24px;
  margin-right: 20px;
  cursor: pointer;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .header {
    height: 60px;
  }
  .nav {
    flex-direction: column;
    text-align: center;
    background-color: var(--header-bg-color);
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    transform: translateY(-150%); /* Off-screen above */
    opacity: 0; /* Fully transparent */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: -1000;
  }
  .nav.open {
    display: flex; /* Ensure the menu is visible */
    width: 100%; /* Full width for dropdown */
    transform: translateY(0); /* Slide into place */
    opacity: 1; /* Make it fully visible */
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out; /* Add smooth animation */
  }

  .menu-toggle {
    display: block;
    margin-left: auto;
  }
}

@media (max-width: 980px) {
  .nav {
    margin-left: 90px;
  }
}
.logout-button:hover {
  color: white !important;
}

.logout-button {
  background-color: var(--header-color);
  border-radius: 8px !important;
  border: 1px solid black !important;
  cursor: pointer;
  padding: 10px 40px 10px 40px;
  color: white;
}

.logout-button:hover {
  background-color: #891ae4;
}
